:root{
    --lightBG: linear-gradient(45deg, #ff9c62, rgb(107, 107, 255));
    --darkBG: linear-gradient(45deg, #ffffff, rgb(0, 0, 0));
    }

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    }

body{
    background: var(--lightBG);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#mainBox{
    border: 1px solid rgb(0, 0, 0);
    background: #1d1d1d;
    color: white;
    border-radius: 5px;
    width: 500px;

    height: 400px;
    contain: content;
    box-shadow: black 0 0 10px 3px;
    }

#mainBox h1{
        padding: 20px;
        background: goldenrod;
        }
#mainBox div{
    margin: 15px;
    font-size: 1.3em;
    justify-content: center;
    }

#mainBox div input{
    padding: 5px;
    border-radius: 5px;
    border: transparent;
    }

button{
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    background: white;
    border: none;
    position: absolute;
    right: 10px;
    }

button:active{box-shadow: goldenrod 0 0 5px 1px;}